body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

h1{
    color: darkred;
    text-align: center ;
    margin-top: 4rem;
}

h2 {
    color: darkblue;
    text-align: center;
    margin-top: 2rem;
}